header {
    background-color: peachpuff
  }

  nav ul li {
    display: inline-block;
    text-decoration: none;
    text-align:center;
    text-indent: 40px;
    text-decoration-color: rebeccapurple;
  }

  main section h1{
      color: royalblue;
      font-family: "Copperplate",Fantasy;
  }
main h2 {
    color: red;
    
}
  footer {
      background-color: peachpuff;
      
  }
